@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:100,400,400i,700');

html, body {
    min-width: 360px;
    width: auto;
    font-family: 'Roboto Mono', monospace;
    background: black;
}

body {
    padding-top: 50px;
}
