.thumbnail {
    position: relative;
    margin: 0;
    border: 0;
    padding: 0;
}

.caption {
    position: absolute;
    top: 45%;
    left: 0;
    width: 100%;
    margin: 0;
}

.caption * {
    color: white;
}

.caption a:hover,
.caption a:focus {
    color: #4189C7;
}

a,
a:link,
a:visited,
a:hover,
a:active{
    text-decoration: none;
}