<template>
    <!-- <div>
        <h1>Posts</h1>

        <p>This component demonstrates fetching data from the server.</p>

        <table v-if="posts.length" class="table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Content</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="item in posts">
                    <td>{{ item.title }}</td>
                    <td><span style="white-space: pre-wrap;">{{ item.content }}</span></td>
                </tr>
            </tbody>
        </table>

        <p v-else><em>Loading...</em></p>
    </div> -->
    <article>
        <div class="thumbnail text-center">
            <img class="img-responsive" src="../../images/banner.jpg" alt="" />
            <div class="caption">
                <header class="major">
                    <h3><router-link :to="`/read/${post.id}`" class="link">{{ post.title }}</router-link></h3>
                    <p>{{ contentPreview }}</p>
                </header>
            </div>
        </div>
    </article>
</template>

<script src="./post.ts"></script>
<style src="./post.css"></style>