<template>
    <div>
        <h1>New Post</h1>

        <p>This is a simple example of a Vue.js component.</p>

        <p>Current count: <strong>{{ currentcount }}</strong></p>

        <button @click="incrementCounter">Increment</button>
        <br/>
        <input v-model="title" placeholder="new title">
        <br/>
        <textarea v-model="content" placeholder="add new post"></textarea>
        <br/>

        <button @click="submitPost">Submit</button>
    </div>
</template>

<script src="./counter.ts"></script>
